@import "tailwindcss";

@property --font-poppins {
    syntax: "*";
    inherits: true;
}

@theme {
    --font-sans: var(--font-poppins), sans-serif;
    --nav-mask: linear-gradient(black calc(100% - 1.25rem), transparent 100%);
}

